<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/images/honeycomb.png">
    <title><%= user.username %>'s Profile</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <%- include('partials/nav') %>

    <main class="container">
      <h1>Coming Soon</h1>

      <p>Username: <%= user.username %></p>
      <p>Points: <%= user.points %></p>

    </main>

  </body>

</html>
